.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc((100% / 1) - (2 * var(--xs-padding)));
  max-width: 360px;
  margin: var(--xs-padding);
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  box-shadow: 0px 10px 16px 0px rgba(199, 199, 199, 1);
  border-radius: 10px;
}

.card-front,
.card-back {
  display: grid;
  width: 100%;
  gap: 0px 0px;
  position: absolute;
  backface-visibility: hidden;
}

.flipCard {
  transform: rotateY(180deg);
}

.card-front {
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'card-heading card-heading'
    'card-heading card-heading'
    'card-desc card-btn';
  background-size: 30px 30px;
  background-image: linear-gradient(
      to right,
      var(--mink) 0.5px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--mink) 0.5px, transparent 0.5px);
  background-color: #fff;
}

.card-back {
  color: white;
  height: 100%;
  background-color: var(--cobalt);
  /* background-image: url('../images/whisper.png');
  background-size: cover; */
  transform: rotateY(180deg);
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1.5fr 0.5fr;
  grid-template-areas:
    'card-heading-back card-heading-back'
    'card-project-info card-project-info'
    'card-image card-image'
    'card-desc card-btn';
}

.card-back .card-project-info {
  grid-area: card-project-info;
}
.card-back .card-heading-back {
  grid-area: card-heading-back;
}
.card-back .card-circle {
  grid-area: card-circle;
}
.card-back .card-desc {
  grid-area: card-desc;
}
.card-back .card-btn {
  grid-area: card-btn;
}
.card-back .card-image {
  grid-area: card-image;
}

.card > * {
  padding: var(--s-card-padding);
  border-radius: 10px;
}

/* card front elements */
.card-heading {
  grid-area: card-heading;
  border-radius: 50%;
  width: 100%;
  justify-self: center;
  align-self: center;
  align-items: center;
  margin: var(--s-padding);
}

.card-heading img {
  width: inherit;
}

.card-heading p,
.card-heading-back,
.card-desc {
  font-size: 1.25rem;
  letter-spacing: -1.5px;
  text-transform: capitalize;
  font-weight: 500;
}

.card-desc {
  color: var(--cobalt);
  grid-area: card-desc;
  justify-self: start;
}

.card-btn {
  grid-area: card-btn;
  justify-self: end;
  align-self: center;
  border: 1px solid var(--cobalt);
  color: var(--cobalt);
  border-radius: 50%;
  /* padding: var(--xxs-padding) var(--xs-padding); */
  padding: var(--xs-padding);
  margin: 0;
}

.card-btn img {
  width: 1rem;
}

/* card back elements */

.card-back > *:not(.card-back .card-image) {
  z-index: 99;
}

.card-back .card-heading-back {
  align-self: baseline;
  margin: 0;
}
.card-back .card-circle {
  justify-self: end;
  border: 2px solid #000;
  padding: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.card-back .card-desc {
  align-self: end;
}
.card-back .card-btn {
  border: 1px solid white;
}
.card-back .card-image {
  width: inherit;
}

.card-project-info {
  font-weight: 300;
}

@media (min-width: 600px) {
  .card {
    width: calc((100% / 2) - (2 * var(--xs-padding)));
  }
}
/* between 1150px and 1400px the cards text doesn't look right */
@media (min-width: 1400px) {
  .card {
    width: calc((100% / 3) - (2 * var(--xs-padding)));
  }
}
