.contact {
  position: relative;
}

.contact > * {
  margin: 0 auto;
}

/* .contact {
  background-color: white;
} */

form > * {
  display: block;
  width: 100%;
  margin: var(--xs-padding) auto;
}

.form-control {
  /* background-color: var(--light-grey-bg); */
  border: none;
  border-radius: 10px;
  padding: var(--xs-padding);
}

label,
button[type='submit'] {
  margin-top: var(--s-padding);
}

label,
input,
select,
text {
  color: black;
  /* font-style: italic; */
}

::placeholder {
  color: white;
  /* color: var(--brick); */
}

button[type='submit'] {
  background-color: white;
  /* border: 1px solid var(--lime); */
}

button[type='submit']:hover {
  background-color: var(--brick);
  transition: 0.5s ease;
}

.contact h5 {
  /* color: #64AEA3; */
  width: 70%;
}

@media (min-width: 500px) {
  form > * {
    width: 70%;
  }
}
