.contact {
  position: relative;
}

.contact > * {
  margin: 0 auto;
}

form > * {
  display: block;
  width: 70%;
  margin: var(--xs-padding) auto;
}

.form-control {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: var(--xs-padding);
}

label,
button[type='submit'] {
  margin-top: var(--s-padding);
}

label,
input,
select,
text {
  color: black;
  /* font-style: italic; */
}

::placeholder {
  color: white; */
  /* color: var(--brick);
}

button[type='submit'] {
  background-color: white;
}

button[type='submit']:hover {
  background-color: var(--brick);
  transition: 0.5s ease;
}

.contact h5 {
  /* color: #64AEA3; */
  width: 70%;
}

.green-phone {
  max-width: 400px;
  position: absolute;
  top: 20%;
  right: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
