:root {
    /* colours */
    --light-grey-bg: #f5f5f5;
    --darker-grey-bg: #E9E9E9;
    --deeper-green: #44AF94;
    --lighter-green: #7BD4C1;
    --brick: #FA5B52;

    /* padding */
    --xxs-padding: 0.25rem;
    --xs-padding: 1rem;
    --s-padding: 2rem;

    /* sizing */
    --square: 320px;
    --sq-offset: -120px;

    /* fonts */
    --s-letter-spacing: -0.3px;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}



/* fonts */


a {
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
}

a:active,
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 12rem;
    font-weight: 700;
    letter-spacing: -10px;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

h2, h3, p, a {
    letter-spacing: var(--s-letter-spacing);
}

/* repeatables */

.black-border {
    border: 1px solid black;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.italic {
    font-style: italic;
}

.round-image {
    aspect-ratio: 1;
    object-fit: contain;
}

/* general */

section {
    padding: 0 4em;
    min-height: 100vh;
    overflow: auto;
}

section:first-of-type {
    overflow: hidden;
}

.hero-body > * {
    padding-bottom: var(--s-padding);
    display: inline-block;
}

nav {
    background-color: var(--darker-grey-bg);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: end;
    padding: 0.5rem 2rem;
}

nav a:last-child {
    padding: var(--xxs-padding) var(--xs-padding);
}

/* hero */

.hero {
    background-color: var(--darker-grey-bg);
    position: relative;
}

.hero-body {
    width: 50%;
}

.square {
    width: var(--square);
    height: var(--square);
    background-color: #44AF94;
    position: absolute;
}

.sq-one {
    bottom: calc((var(--square) * -0.2));
    right: calc((2* var(--square)) + var(--sq-offset));
    background-color: var(--lighter-green);
}

.sq-two {
    bottom: calc((var(--square) * 0.4));
    right: calc(var(--square) + var(--sq-offset));
    background-color: var(--deeper-green);
    color: #fff;
}

.sq-three {
    bottom: calc(var(--square) * 1);
    right: var(--sq-offset);
    background-color: #fff;
    color: var(--brick);
}

.square p {
    font-size: 13em;
    text-align: center;
    margin: auto 0;
}

.action-button {
    padding: var(--xs-padding) var(--s-padding);
}

/* projects */

.projects {
    background-color: var(--light-grey-bg);
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    justify-content: space-between;
   /* transform: translate(-50%, -50%); */
}

.card {
    width: calc((100% / 3) - (2 * var(--xs-padding)));
    margin: var(--xs-padding);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    height: 300px;
}

.card-front, .card-back {
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "card-heading card-heading"
        "card-heading card-heading"
        "card-desc card-btn";
    position: absolute;
    
    backface-visibility: hidden;

    /* transform: rotateY(180deg); */
}

.flipCard {
    transform: rotateY(180deg);
}

.card-back {
    /* backface-visibility: hidden; */
    transform: rotateY(180deg);

}
.card > * {
    padding: var(--xs-padding);
}

.card-heading { 
    grid-area: card-heading;
    border-radius: 50%;
    width: 100%;
    background-color: #44AF94;
    justify-self: center;
    align-self: center;
    align-items: center;
    margin: var(--s-padding);
}

.card-desc { 
    grid-area: card-desc;
    justify-self: start;
}

.card-btn { grid-area: card-btn;
    justify-self: end; 
    align-self: center;
}


.about {
    background-color: var(--darker-grey-bg);
}

.contact {
    background-color: var(--light-grey-bg);
}

.divider {
    background-color: var(--deeper-green);
}