.success-only {
  background-image: url(../images/snowy-mint.png);
  background-size: cover;
}

.success-only > * {
  background: none;
}

.contact-success {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: -4rem;
  flex-direction: column;
  justify-content: center;
}

.contact-success a {
  padding: 1rem;
}
.contact-success > * {
  padding-bottom: var(--s-padding);
}
